html {
  height: 100%;
}

div#root {
  height: 100%;
}

body {
  background-color: #dfd3c3;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root {
  --main-color: #874356;
  --link-color: #c65d7b;
}

i {
  color: var(--main-color);
  font-size: 1.5em;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: 'Times New Roman', serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin: 8px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
